{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template format_flexsections/local/content/movesection

    Displays the target for section moving.

    Example context (json):
    {
        "sectionid": 23,
        "sectiontitle": "Section title",
        "sections": [
            {
                "title": "Section 1",
                "id": 42,
                "number": 1,
                "sectionurl": "#",
                "haschildren": 1,
                "children": [
                    {
                        "title": "Section 2",
                        "id": "44",
                        "number": "2",
                        "sectionurl": "#",
                        "haschildren": 0,
                        "children": []
                    }
                ]
            },
            {
                "title": "Section 3",
                "id": "43",
                "number": "3",
                "sectionurl": "#",
                "haschildren": 0,
                "children": []
            }
        ]
    }

}}
<p data-for="sectionname">{{#str}} movefull, moodle, {{sectiontitle}} {{/str}}:</p>
<ul class="collapse-list unlist" id="destination-selector" role="tree">
    {{#sections}}
        {{> format_flexsections/local/content/movesection_one }}
    {{/sections}}
    {{^singlesectionmode}}
        <li>
            <a href="#"
               class="collapse-list-link text-truncate"
               data-for="section"
               data-before="0"
               data-number="0"
               data-parentid="0"
               data-after="{{lastchildid}}"
            >
                {{#str}} movesectiontotheend, format_flexsections {{/str}}
            </a>
        </li>
    {{/singlesectionmode}}
</ul>
